#root {
  /* max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center; */
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #242424;
}

main {
  padding: 15px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 30px;
}

h1 {
  font-size: 40px;
  text-align: center;
  color: whitesmoke;
  margin-top: 15px;
}
h1 > span {
  color: blueviolet;
}

/* Form to Create New or Update Employees */
form {
  display: flex;
  flex-direction: column;
}

form > label {
  color: dodgerblue;
  font-size: 18px;
  margin-bottom: 4px;
}

form > input {
  padding: 4px;
  margin-bottom: 12px;
  outline: none;
  font-size: 14px;
  color: blueviolet;
}

form > input[type="submit"] {
  margin-top: 10px;
  padding: 10px;
  font-weight: bold;
  font-size: 15px;
  border-radius: 5px;
}
form > input[type="submit"]:hover {
  background: blueviolet;
  color: white;
  cursor: pointer;
  transition-duration: 200ms;
}

/* Employees Details in Table  */
aside > h3 {
  color: aliceblue;
}

table {
  width: 100%;
  margin-top: 15px;
}

table > thead {
  background: red;
}

table > thead > tr > th {
  padding: 6px 2px 6px 2px;
}

table > tbody {
  color: white;
  text-align: center;
}

table > tbody > tr > td {
  padding: 4px;
}
